@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('../fonts/RobotoMedium.woff2') format('woff2'),
         url('../fonts/RobotoMedium.woff') format('woff'),
         url('../fonts/RobotoMedium.ttf') format('truetype'),
         url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight.ttf') format('truetype'),
         url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}


body{
	background:url(../images/body_bg.jpg) repeat-x #fff;
	margin:0;
	padding:0;
    font-family: RobotoLight;
    background: linear-gradient(to bottom, #f44195 0%, #ee82fa 100%);
}
img{
	max-width:100%;
	height:auto;
}
.logo {
    padding: 1.5em 0;
}
.form_login{
	background:#eeeeee;
	width:59.5%;
	margin:7.4em auto;
	padding:0;
}
.main_form{
	padding:28px 50px;
	margin:0;
}
.main_form h1{
	color:#404040;
	font-size:18px;
	font-family:RobotoMedium;
	margin:0;
}
.main_form_left{
	width:45%;
	float:left;
	margin:0;
	padding:0;
	/*border-right:1px solid #bbbbbb;*/
}
.social{
	margin:2.1em 0 0 0em;
}
.social ul{
	margin:0;
	padding:0;
}
.social ul li{
	list-style-type:none;
	margin:0 0 1.1em 0em;
	padding:0;
}
.main_form_right{
	width:55%;
	float:left;
	margin:0;
	padding:0 0 0 33px;
	border-left:1px solid #bbbbbb;

}
.right_form_main{
	margin:2.1em 0 0 0em;
	padding:0;
}
.signup{
	margin:0 0 18px 0px;
	padding:0px;
}
.signup p {
    color: #404040;
    font-family: RobotoLight;
    font-size: 15px;
    margin: 0 0 0.1em 0;
}
.signup input[type="text"] {
    width: 99.6%;
	padding:0.5em 0;
}
.signup input[type="password"] {
    width: 99.6%;
	padding:0.5em 0;
}
.right_form_main input[type="submit"] {
    background:#005d8e;
    border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin: 0.7em 0 0;
    outline: medium none;
    padding: 0.6em 2em;
    width:auto;
	font-family:Roboto;
}
.right_form_main input[type="submit"]:hover {
	background:#009edb;
	transition: all 0.3s ease; 
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}


.right_form_main input.extra_btn {
padding:0.4em 1.5em;
}


.bottom_text{
	color:#404040;
	font-family:Roboto;
	font-size:15px;
	font-style:italic;
	margin:1.6em 0 0 0em;
}
.forget{
	font-size:13px;
	color:#404040;
	font-style:italic;
	font-family:Roboto;
	margin-right:2%;

}
.check5 input[type=radio],
.check5 input[type=checkbox] {
	display: none;
}
.check5 label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: -2px;
	bottom: 11px;
	background-color: #fff;
	border:1px solid #b7b7b7;
	color:#404040;
	font-size:15px;
	font-family:RobotoLight;
}

.check5 .radio label:before {
	border-radius: 8px;
}
.check5 .checkbox label {
    margin-bottom: 10px;
    margin-left: 13px;
}
.check5 .checkbox label:before {
    border-radius: 1px;
}

.check5 input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

.check5 input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #000;
	text-align: center;
    line-height: 15px;
}
.check5 {
    font-family: robotolight;
    margin-left: 0%;
	margin-top:6%;
}
.check5 .checkbox{
	margin:0;
}
.check5 > p {
    margin-top: 1%;
}
.form-group label{
	font-weight:normal;
	color:#404040;
	font-family:RobotoLight;
}
.foot_social {
    padding: 1.5em 0;
}
.foot_social > ul {
    width: 196px;
    }
.foot_social > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.foot_social li {
    display: inline-block;
    margin: 0 0.5em;
}
.foot_right {
    color: #aeaeae;
    float: right;
    font-family: RobotoLight;
    padding: 1.5em 0;
    text-align: right;
}

.welcome-box{
	margin-top: 25px;
	color: #fff;
}

/*start reasponsive css*/
@media(max-width:900px){
	.form_login{
		width:67.5%;
	}
}
@media(max-width:800px){
	.form_login{
		width:81.5%;
	}
}
@media(max-width:640px){
	.form_login{
		width:94.5%;
	}
	.foot_left{
	width:50%;
	float:left;
}
}
@media(max-width:480px){
	.main_form_left {
    float: none;
    width: 100%;
}
.main_form_right {
    border-left: 0 none;
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.foot_left {
    float: none;
    width: 100%;
}
.foot_right {
    float: none;
    padding: 0;
    text-align: left;
    width: 100%;
}
}
	
@media(max-width:360px){
.main_form {
    margin: 0;
    padding: 28px 12px;
}
}