
<div class="bg"></div>


<div class="form_login" ng-controller="usersController">
	<div class="main_form">
		<!-- <div class="container-fluid"> -->
			<!-- <div class="col-md-6 main_form_left">
				<h1>Use a connected account</h1>
				<div class="social">
					<ul>
					<li><a href="javascript:void(0);" ng-click="socialLogin('/auth/facebook')"><img src="images/facebook.png"></a></li>
					<li><a href="javascript:void(0);" ng-click="socialLogin('/auth/twitter')"><img src="images/twitter.png"></a></li>
					<li><a href="javascript:void(0);" ng-click="socialLogin('/auth/linkedin')"><img src="images/linkdin.png"></a></li>
					</ul>
				</div>
			</div> -->
			<div class="col-md-6 main_form_right">
				<!-- <h1>Sign In in to Follow, Share or submit to Learning Stream.</h1> -->
				<div class="right_form_main">
					<form name="loginform" ng-submit="signIn(loginform)">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" class="form-control" id="username" ng-model="logindata.email" required>
						</div>
						<div class="form-group">
							<label for="password">Password </label> 
							<input type="password" class="form-control" id="password" ng-model="logindata.password" required><span class="pull-right forget"><a href="/forgotpassword" style="color: #a083ea">Forgot Password?</a></span>
						</div>  
						<button type="submit" class="hvr-bob" style="background-color: #a083ea;color: #fff;width: 100%">Sign In</button>  
						<div class="form-group">
							<div class="check5">
								<!-- <div class="checkbox">		
									<input type="checkbox" value="check2" name="rememberme" id="rememberme">
									<label for="rememberme">Remenber me</label>
								</div> -->
								<div class="clearfix"></div>
								<a href="/signup" class="hvr-bob" style="background-color: #f44195;color: #fff;width: 100%">Sign up</a>
							</div>
						</div> 
						<div class="form-group">
			                 	<p class="err-messg">{{errorMessage}}</p>		
			                </div> 
					</form>
				</div>
			</div>
		<!-- </div> -->
		<div class="clearfix"></div>
	</div><!--end of the main_form-->
</div>