<!DOCTYPE HTML>
<html>
<head>
<title>Sugar</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>
<!--pop up end here-->
</head>
<body>	
<div class="page-container" ng-init="dealverification()" ng-controller="dealmanagementController">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
				<div ng-include="'app/dashboard/views/header.html'"></div>
<!--heder end here-->
<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">
    <div class="price-block-main">
        <!-- search box -->
        <style> 
input[type=text] {
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    /* -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; */
}

input[type=text]:focus {
    width: 100%;
}
</style>

<div class="stripe" style="height: 50px;width: 100%;background-color: #292c33;margin-left: -25px;margin-bottom: 30px;">
	<div class="row">
		<div class="col-md-3">
	<a href="/dealverification"><div class="stripetxt" style="color: #fff;padding: 13px 0px 0px 26px;">Deal Verification</div></a> 
		</div>
		<div class="col-md-3">
	<a href="/deallevelallocation"><div class="stripetxt" style="color: #fff;padding: 13px 0px 0px 26px;">Deal Level Allocation</div></a> 
        </div>
<div class="col-md-3">
	<a href="/specialdealallocation"><div class="stripetxt" style="color: #fff;padding: 13px 0px 0px 26px;">Special Deal Allocation</div></a> 
		</div>
		<div class="col-md-3">
	<a href="#"><div class="stripetxt" style="color: #fff;padding: 13px 0px 0px 26px;">Broadcast List Allotment</div></a> 
		</div>
</div> 
   </div>
    	<div class="prices-head">
    	</div>
    	<div class="price-tables">
	    		<div class="col-md-4 price-grid popup-with-zoom-anim" style="width: 33.33%;cursor: pointer;margin-top: 30px;">
		    			<div class="price-gd-top pric-clr1" style="background-color: #fff;box-shadow: 0px 0px 3px 3px rgba(0.15,0.15,0.15,0.15);">
                            <img src="images/starbucks.png" class="img-circle" alt="logo" style="margin-left: 110px;margin-top: -40px" width="80" height="80"></img>
                              
							<a ng-click="open()"> <h5 style="text-align: center;color: #292c33">Create responsive images by adding an .img-responsive class to the  tag. 
                                 The image will then scale nicely to the parent element.</h5> </a>
							
					</div>
		    		
	    		</div>
    	  <div class="clearfix"> </div>
    	  </div>
   </div>
</div>
 <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title" style="text-align:center;">Deal Verification</h3>
    </div>
    <div class="modal-body">
      <div classs="form-group">
        <div class="modal-body" style="text-align:center;">
			 <ul ng-repeat="dealverification in dealverification">
				<li>dealverification.merchant</li>
			 </ul> 
          <!-- <img ng-src="{{modalQrImage}}" style="width:75%;height: auto;"> -->
        </div>
      </div>
      <hr>
      <div class="form-group text-right" style="padding-right : 20px">
        <button class="btn btn-warning" type="button" ng-click="close()">Close</button>
      </div>
    </div>
  </script>
<!--inner block end here-->
<!--pop-up-grid-->
				            <!-- <div id="popup">
								<div id="small-dialog" class="mfp-hide"  style="max-width: 75%;">
									<div class="pop_up">
									 	<div class="payment-online-form-left">

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img class="img-circle" style="margin-left: 30px;width: 150px;height: 150px;" src="images/food-08.jpg"></img>
                                                </div>
                                                
                                            </div>
                                           
											<ul ng-repeat="dealinfo in deverification">
                                                <li>{{dealinfo.merchant}} </li>
											</ul>
                                           
                                            <a href="#" class="order">Confirm</a>
										</div>
						  			</div>
								</div>
						    </div> -->
								
<!--pop-up-grid-->

</div>
</div>
<div ng-include="'app/dashboard/views/sidebar.html'"></div>

<script>
var toggle = true;
            
// $(".sidebar-icon").click(function() {                
//   if (toggle)
//   {
//     $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
//     $("#menu span").css({"position":"absolute"});
//   }
//   else
//   {
//     $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
//     setTimeout(function() {
//       $("#menu span").css({"position":"relative"});
//     }, 400);
//   }               
//                 toggle = !toggle;
//             });
</script>
<!--scrolling js-->
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/scripts.js"></script>
		<!--//scrolling js-->
<script src="js/bootstrap.js"> </script>
<!-- mother grid end here-->
</body>
</html>
