<!DOCTYPE HTML>
<html>
<head>
<title>Sugar</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="js/jquery-2.1.1.min.js"></script> 
<!--icons-css-->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!--Google Fonts-->
<!-- <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'> -->
<!--//skycons-icons-->

<!--pop up end here-->
</head>
<body>	
<div class="page-container">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
				<div class="header-main" style="height: 60px;">
					<div class="header-left">
							
							<!--search-box
								<div class="search-box">
									<form>
										<input type="text" placeholder="Search..." required="">	
										<input type="submit" value="">					
									</form>
								</div><!//end-search-box-->
								<div class="logo-name">
									 <a href="index.html"> <h1>Deal Management</h1>
									<!--<img id="logo" src="" alt="Logo"/>--> 
								  </a> 								
							</div>
							<div class="clearfix"> </div>
						 </div>
						 <div class="header-right">
							<div class="profile_details_left" style="margin-top: -10px;"><!--notifications of menu start -->
								<ul class="nofitications-dropdown">
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new messages</h3>
												</div>
											</li>
											<li><a href="#">
											   <div class="user_img"><img src="images/photo1.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li class="odd"><a href="#">
												<div class="user_img"><img src="images/photo1.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor </p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											</a></li>
											<li><a href="#">
											   <div class="user_img"><img src="images/photo1.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all messages</a>
												</div> 
											</li>
										</ul>
									</li>
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new notification</h3>
												</div>
											</li>
											<li><a href="#">
												<div class="user_img"><img src="images/photo1.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											 </a></li>
											 <li class="odd"><a href="#">
												<div class="user_img"><img src="images/photo1.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											 <li><a href="#">
												<div class="user_img"><img src="images/photo1.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											 <li>
												<div class="notification_bottom">
													<a href="#">See all notifications</a>
												</div> 
											</li>
										</ul>
									</li>	
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">9</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 8 pending task</h3>
												</div>
											</li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Lorem Ipsum</span><span class="percentage">40%</span>
													<div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													<div class="bar yellow" style="width:40%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Lorem Ipsum</span><span class="percentage">90%</span>
												   <div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													 <div class="bar green" style="width:90%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Lorem Ipsum</span><span class="percentage">33%</span>
													<div class="clearfix"></div>	
												</div>
											   <div class="progress progress-striped active">
													 <div class="bar red" style="width: 33%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Lorem Ipsum</span><span class="percentage">80%</span>
												   <div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													 <div class="bar  blue" style="width: 80%;"></div>
												</div>
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all pending tasks</a>
												</div> 
											</li>
										</ul>
									</li>	
								</ul>
								<div class="clearfix"> </div>
							</div>
							<!--notification menu end -->
							<div class="profile_details">		
								<ul>
									<li class="dropdown profile_details_drop">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<div class="profile_img">	
												<span class="prfil-img"><img src="images/photo1.png" alt=""> </span> 
												<div class="user-name">
													<p>Akshay</p>
													<span>Administrator</span>
												</div>
												<i class="fa fa-angle-down lnr"></i>
												<i class="fa fa-angle-up lnr"></i>
												<div class="clearfix"></div>	
											</div>	
										</a>
										<ul class="dropdown-menu drp-mnu">
											<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li> 
											<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li> 
											<li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="clearfix"> </div>				
						</div>
				     <div class="clearfix"> </div>	
				</div>
<!--heder end here-->
<!-- script-for sticky-nav -->
		<!-- <script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
			 
		});
		</script> -->
<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">
    <div class="price-block-main">
        <!-- search box -->
        <!-- <style> 
input[type=text] {
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    /* -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; */
}

input[type=text]:focus {
    width: 100%;
}
</style>
<form>
  <input type="text" name="search" placeholder="">
</form> -->
 
<div class="stripe" style="height: 50px;width: 100%;background-color: #292c33;margin-left: -25px;margin-bottom: 30px;">
	<div class="row">
		<div class="col-md-3">
	<a href="#"><div class="stripetxt" style="color: #fff;padding: 13px 0px 0px 26px;">Deal Database</div></a> 
		</div>
	
</div> 
   </div>
    	
    	<div class="price-tables">
	    		<div class="col-md-12 price-grid" href="#small-dialog" style="width: 100%;cursor: pointer;margin-top: 30px;">
		    			<div class="price-gd-top pric-clr1" style="background-color: #fff;box-shadow: 0px 0px 3px 3px rgba(0.15,0.15,0.15,0.15);">
                            <img src="images/starbucks.png" class="img-circle" alt="logo" style="margin-left: 460px;margin-top: -40px" width="80" height="80"></img>
                             <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                    <div class="col-md-6">
                                    <h5 style="color: #292c33;margin-left: 20px;">Coupons</h5>
                                    <h5 style="color: #292c33;margin-left: 20px;">Level</h5>    
                                </div>
                                <div class="col-md-6">
                                    <h5 style="color: #292c33;margin-left: 20px;color: #f44195">1234</h5>
                                    <h5 style="color: #292c33;margin-left: 20px;color: #f44195">Regular</h5>    
                                </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                    <div class="col-md-6">
                                    <h5 style="color: #292c33;margin-left: 150px;">Likes</h5>
                                    <h5 style="color: #292c33;margin-left: 150px;">Category</h5>    
                                </div>
                                <div class="col-md-6">
                                    <h5 style="color: #292c33;margin-left: 150px;color: #f44195">1234</h5>
                                    <h5 style="color: #292c33;margin-left: 150px;color: #f44195">Cafe</h5>    
                                </div>
                                    </div>
                                </div>  
                            </div> -->
                            <br><br>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img style="margin-left: 20px;" src="images/food-08.jpg"></img>
                                                </div>
                                                <div class="col-md-8">
                                                    <h5 style="text-align: left;font-weight: bold;color: #292c33;margin-left: 20px;margin-top: -20px;margin-bottom: -10px;background-color: #fff">Deal Info</h5>
                                                    <i class="fa fa-bar-chart" aria-hidden="true" style="margin-left: 20px;color: #f44195"> Regular</i>
                                                    <i class="fa fa-thumbs-up" aria-hidden="true" style="margin-left: 20px;color: #f44195"> 1234</i>
                                                    <i class="fa fa-ticket" aria-hidden="true" style="margin-left: 20px;color: #f44195"> 1234</i>
                                                    <i class="fa fa-calendar" aria-hidden="true" style="margin-left: 20px;color: #f44195"> 28-07-2017</i>
                                                    <i class="fa fa-clock-o" aria-hidden="true" style="margin-left: 20px;color: #f44195"> 00:00:00</i>
                                                    <h5 style="text-align: left;margin-top: -20px;color: #292c33;margin-left: 20px;margin-top: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                                                </div>
                                            </div>
                                            <div style="overflow: auto; width:95%; height:200px;margin-left: 20px;
                                            text-align: left;border: 1px solid #ccc;margin-top: 20px">
											<ul>
                                                <li>Lorem Ipsum is simply dummy text of the printing and 
                                                typesetting industry. <li>Lorem Ipsum has been the industry's 
                                                standard dummy text ever since the 1500s, <li>when an unknown 
                                                printer took a galley of type and scrambled it to make a 
                                                type specimen book. <li>It has survived not only five centuries, 
                                                but also the leap into electronic typesetting, remaining 
                                                essentially unchanged. <li>It was popularised in the 1960s with 
                                                the release of Letraset sheets <li>containing Lorem Ipsum passages, 
                                                and more recently with desktop publishing <li>software like Aldus 
												PageMaker including versions of Lorem Ipsum.
												</ul>
                                            </div>

<!-- <div class="col-md-6">
  <input type="submit" style="text-align: center;width: 70%;margin-top: 115px;border-radius: 50px" value="CONFIRM" class="order">
</div> -->
            </div>
				</div>
	    		</div>
          <div class="clearfix"> </div>
            <div class="portlet-grid panel-primary" style="width: 100%"> 
    		  
                  <div class="row">
                      <div class="col-md-4" style="margin-left: 00px;margin-top: 13px">
					<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		      <h3 class="panel-title" style="font-weight: bold;text-align: center">CUSTOMER ID</h3>
              </div>
					</div>
						<div class="col-md-3" style="margin-left: 0px;margin-top: 13px">
							<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		      <h3 class="panel-title" style="font-weight: bold;text-align: center">SAVED AT</h3>
                        </div>
                        </div>
					    <div class="col-md-4" style="margin-left: 20px;margin-top: 13px">
						<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		                <h3 class="panel-title" style="font-weight: bold;text-align: center">REDEEMED AT</h3>
                        </div>
                        </div>

                      
                  </div>
                    <hr class="style1">

                    <div class="row" ng-repeat="user in user">
                        <div class="col-md-4" style="margin-left: 00px;margin-top: 13px">
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">{{user.dealID}}<h4>
                        <!-- <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">12345<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">12345<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">12345<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">12345<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">12345<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">12345<h4>
                        <h4 style="margin-top: 10px;margin-bottom: 20px;margin-left: 0px;text-align: center">12345<h4> -->
                        </div>

                        <div class="col-md-3" style="margin-left: 00px;margin-top: 13px">
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">{{user.savedat}}<h4>
                        <!-- <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00:00:00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00:00:00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00:00:00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00:00:00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00:00:00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00:00:00<h4>
                        <h4 style="margin-top: 10px;margin-bottom: 20px;margin-left: 0px;text-align: center">00:00:00<h4> -->
                        </div>

                        <div class="col-md-4" style="margin-left: 00px;margin-top: 13px">
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">{{user.redeemedat}}<h4>
                        <!-- <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00:00:00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00:00:00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00:00:00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00:00:00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00:00:00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00:00:00<h4>
                        <h4 style="margin-top: 10px;margin-bottom: 20px;margin-left: 0px;text-align: center">00:00:00<h4> -->
                        </div>

                        
                    </div>
		</div>
    	  </div>
   </div>
<!--inner block end here-->
<!--pop-up-grid-->
				                 <div id="popup">
								 <div id="small-dialog" class="mfp-hide"  style="max-width: 100%;">
									<div class="pop_up">
									 	<div class="payment-online-form-left">

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img style="margin-left: 30px;" src="images/food-08.jpg"></img>
                                                </div>
                                                <div class="col-md-8">
                                                    <h3 style="text-align: left;font-weight: bold;margin-left: 30px;">Deal Info</h3>
                                                    <h4 style="text-align: left;margin-left: 30px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                                                </div>
                                            </div>
                                            <div style="overflow: auto; width:95%; height:200px;margin-left: 30px;
											text-align: left;border: 1px solid #ccc;margin-top: 20px">
											<ul>
                                                <li>Lorem Ipsum is simply dummy text of the printing and 
                                                typesetting industry. <li>Lorem Ipsum has been the industry's 
                                                standard dummy text ever since the 1500s, <li>when an unknown 
                                                printer took a galley of type and scrambled it to make a 
                                                type specimen book. <li>It has survived not only five centuries, 
                                                but also the leap into electronic typesetting, remaining 
                                                essentially unchanged. <li>It was popularised in the 1960s with 
                                                the release of Letraset sheets <li>containing Lorem Ipsum passages, 
                                                and more recently with desktop publishing <li>software like Aldus 
												PageMaker including versions of Lorem Ipsum.
												</ul>
                                            </div>
                                            <a href="#" class="order">Confirm</a>
                                                
										</div>
						  			</div>
								</div>
								</div>
								
<!--pop-up-grid-->

</div>
</div>
<!--slider menu-->
    <div class="sidebar-menu">
		  	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span> 
			      <!--<img id="logo" src="" alt="Logo"/>--> 
			  </a> </div>		  
		    <div class="menu">
		      <ul id="menu" >
		        <li id="menu-home" ><a href="index.html"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
		        <li><a href="#"><i class="fa fa-users"></i><span>User<br>Management</span><span class="fa fa-angle-right" style="float: right"></span></a>
		          <ul>
		            <li><a href="#">User Profile</a></li>
		            <li><a href="#">User Deal History</a></li>	            
		          </ul>
		        </li>
		        <li id="menu-comunicacao" ><a href="#"><i class="fa fa-black-tie"></i><span>Vendor<br> Management</span><span class="fa fa-angle-right" style="float: right"></span></a>
		          <ul id="menu-comunicacao-sub" >
		            <li id="menu-mensagens"><a href="#">Vendor Profile</a>		              
		            </li>
		            <li id="menu-arquivos" ><a href="#">Vendor Customer List</a></li>
		            <li id="menu-arquivos" ><a href="#">Deal Management Lifecycle</a></li>
		          </ul>
		        </li>
		          <li><a href="#"><i class="fa fa-paper-plane"></i><span>Live</span></a></li>
		        <!-- <li id="menu-academico" ><a href="#"><i class="fa fa-database"></i><span>Deal Database</span><span class="fa fa-angle-right" style="float: right"></span></a> -->
		          <!-- <ul id="menu-academico-sub" >
		          	 <li id="menu-academico-boletim" ><a href="login.html">Login</a></li>
		            <li id="menu-academico-avaliacoes" ><a href="signup.html">Sign Up</a></li>		           
		          </ul> -->
		        </li>
		        
		        <li><a href="#"><i class="fa fa-database"></i><span>Deal Database</span></a></li>
		        <li><a href="#"><i class="fa fa-ticket"></i><span>Deal<br>Management</span><span class="fa fa-angle-right" style="float: right"></span></a>
		        	 <ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="#">Deal Verification</a></li>
			            <li id="menu-academico-boletim" ><a href="#">Others</a></li>
		             </ul>
		        </li>
		         <li><a href="#"><i class="fa fa-cog"></i><span>Settings</span><span class="fa fa-angle-right" style="float: right"></span></a>
		         	 <ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="#">Level Creation</a></li>
			            <li id="menu-academico-boletim" ><a href="#">Register New Merchant</a></li>
		             </ul>
		         </li>
		         <li><a href="#"><i class="fa fa-comments"></i><span>Vendor Support</span></a>
		         	<!-- <ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="product.html">Product</a></li>
			            <li id="menu-academico-boletim" ><a href="price.html">Price</a></li>
		             </ul> -->
		         </li>
		      </ul>
		    </div>
	 </div>
	<div class="clearfix"> </div>

<!--slide bar menu end here-->
<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/scripts.js"></script>
		<!--//scrolling js-->
<script src="js/bootstrap.js"> </script>
<!-- mother grid end here-->
</body>
</html>