<!DOCTYPE HTML>
<html>
<head>
<title>Sugar</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery-2.1.1.min.js"></script> 
 <!-- z -->
<!--pop up end here-->
<style>
img {height: 140px;}
</style>
</head>
<body>	
<div class="page-container"  ng-controller="userprofileController">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
				<div ng-include="'app/dashboard/views/header.html'"></div>
<!--heder end here-->
<!-- script-for sticky-nav -->
		<!-- <script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
			 
		});
		</script> -->
<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">
    <div class="price-block-main">
        <!-- search box -->
        <style> 
input[type=text] {
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    /* -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; */
}

input[type=text]:focus {
    width: 100%;
}
</style>
<!-- <div class="container">
  <typeahead items="items" prompt="Start typing a US state" title="name"  model="name" on-select="onItemSelected()" />
</div>
<input type="text" ng-model="model.name" placeholder="{{prompt}}" ng-keydown="selected=false">
 <br/>
<div class="items" ng-hide="!model.name || selected">
  <div class="item" ng-repeat="item in items | filter:model.name  track by $index" ng-click="handleSelection(item)" style="cursor:pointer" ng-class="{actives:isCurrent($index)}" ng-mouseenter="setCurrent($index)">
    <p class="title">{{item.name}}</p>
  </div>
</div> -->
 <!-- search box -->
<div class="userdetails">
 <div class="row">
	<div class="col-lg-12">
		<!-- <div class="price-tables"> -->
	    		<div class="col-md-4 price-grid">
	    		   <div class="price-block">
		    			<div class="price-gd-top pric-clr1" style="background-color: #f44195;border-radius:20px;margin-top: 30px;">
							<h5 style="text-align: center">Users Registered Today</h5>
		    				<h4 style="border-radius: 5px 5px 20px 20px;text-align: center">12345</h4>
		    			</div>
		    		</div>
				</div>
				<div class="col-md-4 price-grid">
	    		   <div class="price-block">
		    			<div class="price-gd-top pric-clr1" style="background-color: #f44195;border-radius:20px;margin-top: 30px;">
							<h5 style="text-align: center">Users Registered Till Date</h5>
		    				<h4 style="border-radius: 5px 5px 20px 20px;text-align: center">12345</h4>
		    			</div>
		    		</div>
				</div>
				<div class="col-md-4 price-grid">
	    		   <div class="price-block">
		    			<div class="price-gd-top pric-clr1" style="background-color: #f44195;border-radius:20px;margin-top: 30px;">
							<h5 style="text-align: center">Active Users</h5>
		    				<h4 style="border-radius: 5px 5px 20px 20px;text-align: center">12345</h4>
		    			</div>
		    		</div>
				</div>
			
		</div>
</div>
</div> 
</div>
<div class="stripe" style="height: 50px;width: 100%;background-color: #292c33;margin-left: -25px;margin-bottom: 30px;">
	<div class="row">
		<div class="col-md-2">
	<a href="/userprofile"><div class="stripetxt" style="color: #fff;padding: 13px 0px 0px 26px;">User Profile</div></a> 
		</div>
		<div class="col-md-4">
	<a href="/userdealhistory"><div class="stripetxt" style="color: #fff;padding: 13px 0px 0px 26px;">User Deal History</div></a> 
		</div>
	<!-- <div class="col-md-2">
	<div class="dropdown">
  <button class="dropbtn">Login Data</button>
  <div class="dropdown-content">
    <a href="#">Data 1</a>
    <a href="#">Data 2</a>
    <a href="#">Data 3</a>
  </div>
</div>
	</div>	 -->
</div> 
   </div>
    	<div class="prices-head">
		
    	<div class="price-tables">
							
				<div class="portlet-grid panel-primary" style="width: 100%"> 
    		  
                  <div class="row">
                      <div class="col-md-2" style="margin-left: 00px;margin-top: 13px">
					<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		      <h3 class="panel-title" style="font-weight: bold;text-align: center">DEAL INFO</h3>
              </div>
					</div>
						<div class="col-md-2" style="margin-left: 0px;margin-top: 13px">
							<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		      <h3 class="panel-title" style="font-weight: bold;text-align: center">DEAL ID</h3>
                        </div>
                        </div>
					    <div class="col-md-2" style="margin-left: 20px;margin-top: 13px">
						<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		                <h3 class="panel-title" style="font-weight: bold;text-align: center">SAVED AT</h3>
                        </div>
                        </div>

                      <div class="col-md-2" style="margin-left: 0px;margin-top: 13px">
						<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		                <h3 class="panel-title" style="font-weight: bold;text-align: center">REDEEEMED AT</h3>
                        </div>
                        </div>

                      <div class="col-md-1" style="margin-left: 20px;margin-top: 13px">
						<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		                <h3 class="panel-title" style="font-weight: bold;text-align: center">CATEGORY</h3>
                        </div>
                        </div>
                    <div class="col-md-2" style="margin-left: 20px;margin-top: 13px">
						<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		                <h3 class="panel-title" style="font-weight: bold;text-align: center">TYPE</h3>
                        </div>
                        </div>
                  </div>
                    <hr class="style1">

                    <div class="row">
                        <div class="col-md-2" style="margin-left: 00px;margin-top: 0px">
                        <h4 style="margin-top: 20px;margin-left: 10px;"><span style="color: #f44195;font-weight: bold">Starbucks</span><br>Lorem Ipsum is..<h4>
                        <h4 style="margin-top: 20px;margin-left: 10px;"><span style="color: #f44195;font-weight: bold">Starbucks</span><br>Lorem Ipsum is..<h4>
						<h4 style="margin-top: 20px;margin-left: 10px;"><span style="color: #f44195;font-weight: bold">Starbucks</span><br>Lorem Ipsum is..<h4>
						<h4 style="margin-top: 20px;margin-left: 10px;"><span style="color: #f44195;font-weight: bold">Starbucks</span><br>Lorem Ipsum is..<h4>
						<h4 style="margin-top: 20px;margin-left: 10px;"><span style="color: #f44195;font-weight: bold">Starbucks</span><br>Lorem Ipsum is..<h4>
						<h4 style="margin-top: 20px;margin-left: 10px;"><span style="color: #f44195;font-weight: bold">Starbucks</span><br>Lorem Ipsum is..<h4>
						<h4 style="margin-top: 20px;margin-left: 10px;"><span style="color: #f44195;font-weight: bold">Starbucks</span><br>Lorem Ipsum is..<h4>
                        <h4 style="margin-top: 20px;margin-bottom: 20px;margin-left: 10px;"><span style="color: #f44195;font-weight: bold">Starbucks</span><br>Lorem Ipsum is..<h4>
                        </div>

                        <div class="col-md-2" style="margin-left: 0px;margin-top: 0px;">
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>123456789<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>123456789<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>123456789<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>123456789<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>123456789<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>123456789<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>123456789<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>123456789<h4>
                        </div>

                        <div class="col-md-2" style="margin-left: 20px;margin-top: 0px">
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        </div>

                        <div class="col-md-2" style="margin-left: 20px;margin-top: 0px">
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>00:00:00<h4>
                        </div>

                        <div class="col-md-1" style="margin-left: 20px;margin-top: 0px">
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Cafeteria<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Cafeteria<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Cafeteria<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Cafeteria<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Cafeteria<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Cafeteria<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Cafeteria<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Cafeteria<h4>
                        </div>
                        <div class="col-md-2" style="margin-left: 20px;margin-top: 0px">
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Regular<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Regular<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Regular<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Regular<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Regular<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Regular<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Regular<h4>
                        <h4 style="margin-top: 20px;margin-left: 0px;text-align: center"><span></span><br>Regular<h4>
                        </div>
                    </div>
		</div>
							
                        <!-- <div class="col-md-8"> -->
                         <!-- <a href="#" h5 style="color: #f44195;margin-right: 60px;font-weight: bold;padding: 0.2em 0em 0.8em 0em;">123456789</h5></a> -->
								
                        
					<!-- <div class="row">
						<div class="col-md-6">
							<h6 style="color: #292c33;margin-right: 30px;font-size: 14px;line-height: 1.5;">Saved:</h6>
							<h6 style="color: #292c33;margin-right: 30px;font-size: 14px;line-height: 1.5;">Redeemed:</h6>
							<h6 style="color: #292c33;margin-right: 30px;font-size: 14px;line-height: 1.5;">Category:</h6>
							<h6 style="color: #292c33;margin-right: 30px;font-size: 14px;line-height: 1.5;">Type:</h6>

						</div>
						<div class="col-md-6">
							<h6 style="color: #292c33;margin-right: 30px;font-weight: bold;font-size: 14px;line-height: 1.5;">00:00:00</h6>
							<h6 style="color: #292c33;margin-right: 30px;font-weight: bold;font-size: 14px;line-height: 1.5;">00:00:00</h6>
							<h6 style="color: #292c33;margin-right: 30px;font-weight: bold;font-size: 14px;line-height: 1.5;">Cafe</h6>
							<h6 style="color: #292c33;margin-right: 30px;font-weight: bold;font-size: 14px;line-height: 1.5;">Regular</h6>

					</div>
							</div> -->
		    				<!-- <h3><span class="usa-dollar">$</span> 5<span class="per-month">/mon</span></h3>
		    				<h5>Free for 15days</h5> -->
		    			
		    			<!-- <div class="price-gd-bottom">
		    				<div class="price-list">
			    				<ul>
			    					<li>1Gb Disk</li>
			    					<li>10Gb Bandwidth Monthly</li>
			    					<li>2 Email Account</li>
			    					<li>Unlimited Sub Domains</li>
			    				</ul>
		    				</div>
                        </div> -->
                        <!-- <div class="row">
					<table class="table table-bordered">
					<thead>
					<tr>
						<th class="text-center">Deal ID</th>
						<th class="text-center">Deal Info</th>
						<th class="text-center">Deal Category</th>
						<th class="text-center">Deal Type</th>
					</tr>
					</thead>
					<tbody class="text-center">
					<tr ng-repeat="user in user">
						<td>{{user.dealID}}</td>
						<td>{{user.dealinfo}}</td>
						<td>{{user.dealcategory}}</td>
						<td>{{user.dealtype}}</td>
					</tr>
					</tbody>
				</table>
                         <div class="col-md-6">                
		    		    <div class="price-selet pric-clr1">		    			   
		    			   	  <a href="#" style="background-color: #f44195">{{user.dealtype}}</a>
                        </div>
                        </div>
                    <div class="col-md-6">                
		    		    <div class="price-selet pric-clr1">		    			   
		    			   	  <a class="popup-with-zoom-anim" href="#small-dialog" style="background-color: #a083ea">{{user.dealinfo}}</a>
                        </div>
                        </div>
                        </div>
		    		</div>
                        </div> -->
                        
		    		
	    		
    	  <div class="clearfix"> </div>
    	  
   </div>
</div>
<!--inner block end here-->
<!--pop-up-grid-->
				                 <div id="popup">
								 <div id="small-dialog" class="mfp-hide">
									<div class="pop_up">
									 	<div class="payment-online-form-left">
											<form>
												<h4><span class="shoppong-pay-1"> </span>Shipping Details</h4>
												<ul>
													<li><input class="text-box-dark" type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}"></li>
													<li><input class="text-box-dark" type="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}"></li>
												</ul>
												<ul>
													<li><input class="text-box-dark" type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></li>
													<li><input class="text-box-dark" type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}"></li>
												</ul>
												<ul>
													<li><input class="text-box-dark" type="text" value="Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}"></li>
													<li><input class="text-box-dark" type="text" value="Pin Code" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Pin Code';}"></li>
													
												</ul>
												<div class="clear"></div>
												<h4 class="paymenthead"><span class="payment"></span>Payment Details</h4>
												<div class="clear"></div>										
												<ul>
													<li><input class="text-box-dark" type="text" value="Card Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Card Number';}"></li>
													<li><input class="text-box-dark" type="text" value="Name on card" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name on card';}"></li>
												</ul>
												<ul>
													<li><input class="text-box-light hasDatepicker" type="text" id="datepicker" value="Expiration Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Expiration Date';}"><em class="pay-date"> </em></li>
													<li><input class="text-box-dark" type="text" value="Security Code" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Security Code';}"></li>
												
												</ul>
												<ul class="payment-sendbtns">
													<li><input type="reset" value="Reset"></li>
													<li><a href="#" class="order">Process order</a></li>
												</ul>
												<div class="clear"></div>
											</form>
										</div>
						  			</div>
								</div>
								</div>
								
<!--pop-up-grid-->
</div>
</div>
</div>
<!--slider menu-->
   <div ng-include="'app/dashboard/views/sidebar.html'"></div>

<!--slide bar menu end here-->
<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/scripts.js"></script>
		<!--//scrolling js--><div class="col-md-2">
<script src="js/bootstrap.js"> </script>
<!-- mother grid end here-->
</body>
</html>