<div class=""></div>

<div class="form_login" ng-controller="usersController">
	<div class="main_form">
		<div class="container-fluid">
			<!-- <div class="col-md-6 main_form_left">
				<h1>Connect an account</h1>
				<div class="social">
					<ul>
					<li><a href="javascript:void(0);" ng-click="socialLogin('/auth/facebook')"><img src="images/facebook.png"></a></li>
					<li><a href="javascript:void(0);" ng-click="socialLogin('/auth/twitter')"><img src="images/twitter.png"></a></li>
					<li><a href="javascript:void(0);" ng-click="socialLogin('/auth/linkedin')"><img src="images/linkdin.png"></a></li>
					</ul>
				</div>
			</div> -->
			<div class="col-md-6 main_form_right">
				<!-- <h1>Sign Up</h1> -->
				<div class="right_form_main">
					<form name="signup_form" ng-submit="userprofile(userprofile_form);">
                        <div class="form-group">
			                 	<p class="err-messg">{{errorMessage}}</p>		
			                </div> 
                        <div class="form-group">
							<label for="customerid">Customer ID</label>							
							<input type="text" class="form-control" id="customerid" name="customerid" ng-model="userprofiledata.customerid" required="true"/>
						</div>
						<div class="form-group">
							<label for="username">Name</label>							
							<input type="text" class="form-control" id="username" name="username" ng-model="userprofiledata.name" required="true"/>
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" class="form-control" id="email" name="email" ng-model="userprofiledata.userid" required>
						</div>
						<div class="form-group">
							<label for="phone">Phone</label>
							<input type="text" class="form-control" id="phone" name="phone" ng-model="userprofiledata.phone" required>
                        </div>
                        <div class="form-group">
							<label for="image">Image</label>
							<input type="file" class="form-control" id="image" name="image" ng-model="userprofiledata.image" required>
                        </div>
                        <div class="form-group">
							<label for="password">password</label>
							<input type="password" class="form-control" id="password" name="password" ng-model="userprofiledata.password" required>
                        </div>
                        <div class="form-group">
							<label for="homelocation">Home Location</label>
							<input type="text" class="form-control" id="password" name="password" ng-model="userprofiledata.homelocation" required>
                        </div>
                        <div class="form-group">
							<label for="phone">Work Location</label>
							<input type="text" class="form-control" id="password" name="password" ng-model="userprofiledata.worklocation" required>
                        </div>
						<!-- <div class="form-group">
							<div class="check5">
								<div class="checkbox">		
									<input type="checkbox" value="check2" name="accept" id="accept" ng-model="signup.acceptterms">
								</div>
							</div>
						</div> -->
								<button type="submit" class="hvr-bob" style="background-color: #f44195;color: #fff;width: 100%">Submit</button>
					</form>					
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div><!--end of the main_form-->
</div>