<!DOCTYPE HTML>
<html>
<head>
<title>Shoppy an Admin Panel Category Flat Bootstrap Responsive Website Template | Portlet :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="js/jquery-2.1.1.min.js"></script> 
<!--icons-css-->
<link href="css/font-awesome.css" rel="stylesheet"> 

</head>
<body>	
<div class="page-container" ng-init="dealdata();getdealdatabaseProfile()" ng-controller="dealdatabaseController"> 	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
				<div ng-include="'app/dashboard/views/header.html'"></div>
<!--heder end here-->
<div class="clearfix"> </div>
<!-- script-for sticky-nav -->
		<!-- <script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
			 
		});
		</script> -->
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">
    <div class="portlet-grid-page">
        <!-- search box -->
        <style> 
input[type=text] {
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    /* -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; */
}

input[type=text]:focus {
    width: 100%;
}
</style>
  <div class="container">
  <typeahead items="items" prompt="Start typing a US state" title="name"  model="name" on-select="onItemSelected()" />
</div>
<input type="text" ng-model="model" placeholder="{{prompt}}" ng-keydown="selected=false">
 <br/>
<div class="items" ng-hide="!model || selected">
  <div class="item" ng-repeat="item in items | filter:model  track by $index" ng-click="handleSelection(item)" style="cursor: pointer" ng-class="{activess:isCurrent($index)}" ng-mouseenter="setCurrent($index)">
    <p class="title">{{item.name}}</p>
  </div>
</div>

 <!-- search box -->

 
 
   <div class="stripe" style="height: 50px;width: 100%;background-color: #292c33;margin-left: -25px;margin-bottom: 30px;">
	<div class="row">
		<div class="col-md-2">
	<a href="#"><div class="stripetxt" style="color: #fff;padding: 13px 0px 0px 26px;">Deal Database</div></a> 
		</div>
</div> 
	 </div>
 <div class="clearfix"></div>
 <span style="font-weight: bold">SORT BY</span>
 <form>
   <input type="text" ng-model="curPlace" placeholder="Sort by Location,MerchantName,Date"></input>
 </form>
 <!-- <div class="dropdown">
  <button class="dropbtn" style="width: 140px;margin-left: 50px;margin-bottom: 20px;">Location</button>
  <div class="dropdown-content">
    <a href="#">Mumbai</a>
    <a href="#">Delhi</a>
	<a href="#">Bangalore</a>
	<a href="#">Hyderabad</a>
  </div>
</div> -->
<!-- <div class="dropdown">
  <button class="dropbtn" style="width: 140px;margin-left: 50px;">Category</button>
  <div class="dropdown-content">
    <a href="#">Category 1</a>
    <a href="#">Category 2</a>
	<a href="#">Category 3</a>
	<a href="#">Category 4</a>
  </div>
</div> -->
  <!-- <button class="dropbtn" style="width: 140px;margin-left: 50px;">Today</button>
	<button class="dropbtn" style="width: 140px;margin-left: 50px;">All</button> -->

<!-- <span>SORT BY</span>
	 <button onclick="myFunction()">Try it</button>

<div id="myDIV">
</div>
<script>
function myFunction() {
    var x = document.getElementById('myDIV');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script> -->

 <div class="portlet-grid panel-primary" style="width: 100%"> 
    		  
                  <div class="row">
                      <div class="col-md-2" style="margin-left: 00px;margin-top: 13px">
					<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		      <h3 class="panel-title" style="font-weight: bold;text-align: center">DEAL ID</h3>
              </div>
					</div>
						<div class="col-md-2" style="margin-left: 0px;margin-top: 13px">
							<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		      <h3 class="panel-title" style="font-weight: bold;text-align: center">MERCHANT</h3>
                        </div>
                        </div>
					    <div class="col-md-2" style="margin-left: 20px;margin-top: 13px">
						<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		                <h3 class="panel-title" style="font-weight: bold;text-align: center">LIVE AT</h3>
                        </div>
                        </div>

                      <div class="col-md-1" style="margin-left: 20px;margin-top: 13px">
						<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		                <h3 class="panel-title" style="font-weight: bold;text-align: center">CLOSED AT</h3>
                        </div>
                        </div>

                      <div class="col-md-2" style="margin-left: 20px;margin-top: 13px">
						<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		                <h3 class="panel-title" style="font-weight: bold;text-align: center">SUBSCRIPTION LIST</h3>
                        </div>
                        </div>
                    <div class="col-md-2" style="margin-left: 20px;margin-top: 13px">
						<div class="panel-heading" style="color: #292c33;background-color: #fff;border-color: #fff">
    		                <h3 class="panel-title" style="font-weight: bold;text-align: center">REDEEMED LIST</h3>
                        </div>
                        </div>
                  </div>
                    <hr class="style1">

                    <div class="row" ng-repeat="dataid in dealdataids | filter:curPlace">
                        <div class="col-md-2" style="margin-left: 00px;margin-top: 13px">
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">{{dataid.dealID}}<h4>
                        <!-- <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">12345<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">12345<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">12345<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">12345<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">12345<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">12345<h4>
                        <h4 style="margin-top: 10px;margin-bottom: 20px;margin-left: 0px;text-align: center">12345<h4> -->
                        </div>

                        <div class="col-md-2" style="margin-left: 0px;margin-top: 13px">
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">{{dataid.merchant}}<h4>
                        <!-- <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">Starbucks<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">Starbucks<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">Starbucks<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">Starbucks<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">Starbucks<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">Starbucks<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">Starbucks<h4> -->
                        </div>

                        <div class="col-md-2" style="margin-left: 20px;margin-top: 13px">
                        <!-- <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">00.00.00<h4> -->
                        </div>

                        <div class="col-md-1" style="margin-left: 0px;margin-top: 13px">
                        <!-- <h4 style="margin-top: 10px;margin-left: 20px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 20px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 20px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 20px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 20px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 20px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 20px;text-align: center">00.00.00<h4>
                        <h4 style="margin-top: 10px;margin-left: 20px;text-align: center">00.00.00<h4> -->
                        </div>

                        <div class="col-md-2" style="margin-left: 50px;margin-top: 13px">
                        <!-- <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4> -->
                        </div>
                        <div class="col-md-2" style="margin-left: 20px;margin-top: 13px">
                            <!-- <h4 style="margin-top: 10px;margin-left: 40px">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4>
                        <h4 style="margin-top: 10px;margin-left: 0px;text-align: center">ACTIVE<h4> -->
                        </div>
                    </div>
		</div>
			
		
			
		
		<div class="clearfix"> </div>	
		

		
		
		<div class="clearfix"> </div>
  </div>
</div>
<!--inner block end here-->

</div>
</div>
<!--slider menu-->
    <div ng-include="'app/dashboard/views/sidebar.html'"></div>
<!--slide bar menu end here-->
<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/scripts.js"></script>
		<!--//scrolling js-->
<script src="js/bootstrap.js"> </script>
<!-- mother grid end here-->
</body>
</html>